/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&spi3 {
	status = "disabled";
};

sid_semtech: &spi2 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <DT_FREQ_M(8)>;
};

/{
	state_notifier_gpios{
		compatible = "gpio-keys";
		state_notifier_error: error  {
			gpios = <&gpio1 0x7 0x0>;
			label = "Application state error";
		};
		state_notifier_dfu: dfu  {
			gpios = <&gpio1 0x1 0x0>;
			label = "Application state dfu";
		};
		state_notifier_sending: sending  {
			gpios = <&gpio1 0x3 0x0>;
			label = "Application state sending";
		};
		state_notifier_receiving: receiving  {
			gpios = <&gpio1 0x2 0x0>;
			label = "Application state receiving";
		};
	};

	aliases {
		state-notifier-connected = &led0;
		state-notifier-time-sync = &led1;
		state-notifier-registered = &led2;
		state-notifier-working = &led3;
		state-notifier-error = &state_notifier_error;
		state-notifier-dfu = &state_notifier_dfu;
		state-notifier-sending = &state_notifier_sending;
		state-notifier-receiving = &state_notifier_receiving;
	};

	semtech_sx1262_gpios{
		compatible = "gpio-keys";
		semtech_sx1262_cs: cs {
			gpios = <&gpio1 0x8 GPIO_ACTIVE_LOW>;
			label = "semtech_sx1262 CS";
		};
		semtech_sx1262_reset_gpios: reset {
			gpios = <&gpio0 0x3 GPIO_ACTIVE_LOW>;
			label = "semtech_sx1262 Reset";
		};
		semtech_sx1262_busy_gpios: busy {
			gpios = <&gpio1 0x4 GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 Busy";
		};
		semtech_sx1262_antenna_enable_gpios: antena_enable {
			gpios = <&gpio1 0xa GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 Antena Enable";
		};
		semtech_sx1262_dio1_gpios: dio1 {
			gpios = <&gpio1 0x6 GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 DIO1";
		};
	};

	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};
};

&spi2_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
		        <NRF_PSEL(SPIM_MISO, 1, 14)>,
		        <NRF_PSEL(SPIM_MOSI, 1, 13)>;
	};
};

&spi2_sleep {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
		        <NRF_PSEL(SPIM_MISO, 1, 14)>,
		        <NRF_PSEL(SPIM_MOSI, 1, 13)>;
		low-power-enable;
	};
};

/* ==========================================================================
 * Sensors Variant Configuration (for CONFIG_SID_END_DEVICE_SENSOR_MONITORING)
 * I2C sensors: MPU6050 (IMU), SEN0344 (Heart Rate/SpO2)
 * UART: NEO-6M GPS module (optional)
 * ========================================================================== */

/* Enable I2C0 for sensor communication */
&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	/* MPU6050 IMU - I2C address 0x68 (AD0 pin low) */
	mpu6050: mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
		int-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
	};

	/* SEN0344 Heart Rate / SpO2 Sensor (MAX30102) - I2C address 0x57 */
	sen0344: sen0344@57 {
		compatible = "maxim,max30102";
		reg = <0x57>;
		status = "okay";
	};
};

/* UART1 for NEO-6M GPS module */
&uart1 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";

	neo6m: neo6m {
		compatible = "u-blox,neo-6m";
		status = "okay";
	};
};

/* UART1 pin configuration for GPS */
&pinctrl {
	uart1_default: uart1_default {
		group1 {
			psels = <NRF_PSEL(UART_RX, 1, 1)>;
			bias-pull-up;
		};
		group2 {
			psels = <NRF_PSEL(UART_TX, 1, 2)>;
		};
	};

	uart1_sleep: uart1_sleep {
		group1 {
			psels = <NRF_PSEL(UART_RX, 1, 1)>,
			        <NRF_PSEL(UART_TX, 1, 2)>;
			low-power-enable;
		};
	};
};
